.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.floating-box {

  float: left;
  width: 45%;
  height: 300px;
  margin-left: 3% ;

  margin-top: 20px;
  border: 3px solid red;  
}
.floating-box1 {
  background-color: white;
  float: left;
  width: 29%;
  height: 300px;
  margin-left: 2.8% ;

  margin-top: 20px;
  border: 3px solid gray;  
}
.floating-box12 {
  background-color: lightgray;
  float: left;
  width: 20%;
  height: 150px;
  margin-left: 2.8% ;
  margin-bottom: 20px;

  margin-top: 20px;
  border: 3px solid gray;  
}

footer {
	float: left;
	width: 100%;
	height: auto;
  margin-top: 10px;
  text-align: center;
  margin-left: :4px;
  margin-right: 4px;
  background-color: black;
  color: white;
}
p{
	text-align: left;
	padding-left: 3px;
}
body{
	background: lightyellow;
}